{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} | Ajouter un cours

{% endblock %}

{% block body %}
<h1>Ajouter un cours</h1>
    {# todo : afficher le formulaire #}
{% endblock %}

