{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} | editer un cours

{% endblock %}

{% block body %}

    <h1>editer un cours</h1>
    {# todo : afficher le formulaire #}
{% endblock %}

